/* Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a,
img,
span,
button {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

html {
  font-family: var(--font-family);
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-body);
  color: var(--body-text);
  font-size: 1.6rem;
}

section {
  margin-bottom: 20px;
}

button {
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(1.3);
}
input {
  appearance: none; /* Remove browser-specific styles */
  border: none; /* Remove border */
  outline: none; /* Remove outline on focus */
  background: none; /* Remove background */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
  font-size: inherit; /* Inherit font size from parent */
  font-family: inherit; /* Inherit font family from parent */
  line-height: inherit; /* Inherit line height from parent */
  color: inherit; /* Inherit text color from parent */
  /* Add any additional styles you need */
}

.layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

select {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: var(--body-text);
}

.filter-select {
  background-color: var(--bg-default);
  padding: 10px;
  /* border-radius: 10px; */
  width: 167px;
  border-right: 1px solid grey;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}

.filter-select-label {
  font-size: 1rem;
  color: var(--body-text);
}

/* #searchForm input {
  flex-grow: 1;
} */
/* main {
  width: 100vw;
} */

/* Common */
.title {
  color: var(--brand-secondary);
  font-weight: bold;
}
.subtitle {
  font-weight: 300;
}

.container {
  padding-inline: 20px;
}

.space {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-block: 2px;
}
.space-nogap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-block: 2px;
}

.space-sm-g {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-block: 2px;
}

.bold {
  font-weight: 700;
}

/* Header */
.header {
  padding-block: 20px;
  background-color: var(--bg-default);
  border-bottom: 1px solid #333;
}

.logo {
  font-size: 2rem;
  color: var(--brand-primary);
}

.header-container {
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  gap: 10px;
}

.btn-header {
  border: 1px solid var(--lines-color); /* Transparent border to reserve space */
  border-radius: 10px;
  padding: 10px 12px 10px 12px; /* Add padding to see the shadow effect */
  color: var(--body-text);
}

.btn-text {
  display: none;
}

/* Design block */

.block-design {
  background-color: var(--bg-default);
}

.triangle-shape-container {
  display: flex;
  background-image: linear-gradient(
    to right top,
    var(--brand-primary),
    var(--brand-secondary)
  );
  justify-content: center;
}
.primary-triangle {
  height: 2em;
  border-left: 240px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 2vh solid var(--bg-default);
  padding-right: 0;
}
/* .secondary-triangle {
  
} */

.welcome-message {
  padding-inline: 10px;
  padding-block: 5px;
}

/* Search form */
.search-form {
  margin-top: 20px;
}

#searchForm {
  width: 100%;
}

input[name="search"] {
  background-color: var(--bg-default);
  padding-block: 1em;
  width: 100%;
  border-right: 1px solid grey;

  /* border-radius: 10px; */
  /* box-shadow: 0 0 7px #333; */
  /* border: 15px solid transparent; */
}
input[name="search"]::placeholder {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--body-text);
}

/* select {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 7px #333;
  border: 15px solid transparent;
} */

/* Topics */
.topic-item {
  background-color: var(--bg-default);

  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out; /* Add a transition for smooth scaling */
}

.topic-item:hover {
  transform: scale(1.1);
}
.topic-item img {
  width: 100%;
}

.topic-category {
  font-size: 1.2rem;
}
.topic-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.stars-mt-30 {
  margin-top: 30px;
}

.p-1 {
  padding: 10px;
}

ion-icon:is([name="star"]) {
  color: goldenrod; /* Set the color for icons with the name "star" */
}
ion-icon:is([name="star-half"]) {
  color: goldenrod; /* Set the color for icons with the name "star" */
}
.grey {
  color: grey;
  font-weight: lighter;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  font-weight: bold;
}

ion-icon:is([name="heart"]) {
  color: var(--heart-color); /* Set the color for icons with the name "star" */
}

.form-input-sm-40 {
  width: 40%;
}
.form-input-sm-60 {
  width: 60%;
}
.form-input-sm-100 {
  width: 100%;
}
.form-input-sm-50 {
  width: 50%;
}

/* Favorites topics OffCanvas */

.off-canvas {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 270px;
  background-color: var(--bg-body);
  color: var(--body-text);
  border: 1px solid black;
  /* display: none;  */
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-block: 1em;
}

.off-canvas.active {
  opacity: 1;
}

.cards-list {
  display: flex;
  margin-top: 1em;
  gap: 1em;
  padding-block: 0.5em;
}
.card-item {
  width: 15%;
  height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1em;
  gap: 0.2em;
  transition: transform 0.3s;
}

.card-item img {
  width: 100%;
  height: 100%;
  align-self: center;
  justify-self: center;
  border-bottom: 1px black solid;
}

.card-item:hover {
  transform: scale(1.1);
}

.heart-active {
  color: var(--heart-color);
}
/* Responsive */

@media (max-width: 400px) {
  .off-canvas {
    height: 300px;
  }

  .off-canvas.active {
    opacity: 1;
  }

  .cards-list {
    gap: 1em;
  }
  .card-item {
    width: 50%;
    height: 140px;
  }

  .card-item img {
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
    border-bottom: 1px black solid;
  }

  .card-item:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  /* Common */

  .container {
    padding-inline: 40px;
  }

  /* Header */
  .header {
    padding-block: 20px;
    background-color: var(--bg-default);
    border-bottom: 1px solid #333;
  }

  .logo {
    font-size: 2rem;
    color: var(--brand-primary);
  }

  .header-container {
    padding-inline: 50px;
  }

  .btn-header {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .btn-text {
    display: inline;
  }

  /* Design block */

  /* .triangle-shape-container {
    width: 100vw;
  } */
  .primary-triangle {
    height: 2em;
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
    border-bottom: 2vh solid var(--bg-default);
  }
  /* .secondary-triangle {
  
} */

  .welcome-message {
    padding-inline: 10px;
    padding-block: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #searchForm {
    display: flex;
    /* gap: 10px; */
    border: 3px solid rgb(231, 228, 228);
    border-radius: 10px;
  }

  input[name="search"] {
    background-color: var(--bg-default);
    /* border-radius: 10px; */
    /* box-shadow: 0 0 7px #333;
    border: 15px solid transparent; */
    width: 100%;
  }
  input[name="search"]::placeholder {
    font-size: 1.6rem;
    font-weight: 400;
    padding-left: 0.5em;
  }

  .filter-select {
    /* border-radius: 10px; */
    width: 100%;
  }

  /* select {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 7px #333;
    border: 15px solid transparent;
  } */

  /* Topics */

  .topic-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1em;
    gap: 10px;
  }
  .topic-item {
    width: calc(25% - 10px);
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .topic-item img {
    width: 100%;
    min-height: 226px;
    height: 100%;
    align-self: center;
    justify-self: center;
    border-radius: 10px 10px 0 0;
  }

  .footer {
    /* width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-input-md-40 {
    width: 40%;
  }
  .form-input-md-60 {
    width: 60%;
  }
}
